@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.animate-blink {
  animation: blink 3s step-start infinite;
}